{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 28, "knowledge_revision": 58, "git_revision": "e5d3037920f53b98a70606ccb035d709e8a6a855", "hash": "b0f7e97dbbc72f7d69bf571dd63ad6d4", "format-version": 4, "code-base-name": "default", "filename": "employee_management_backend_workspace/employee_management_backend/requirements.txt", "revision_history": [{"58": "e5d3037920f53b98a70606ccb035d709e8a6a855"}]}