{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 41, "knowledge_revision": 86, "git_revision": "e5d3037920f53b98a70606ccb035d709e8a6a855", "hash": "66aae9309283bda9fd1fed024651be32", "format-version": 4, "code-base-name": "default", "filename": "employee_management_backend_workspace/employee_management_backend/requirements.txt", "revision_history": [{"86": "e5d3037920f53b98a70606ccb035d709e8a6a855"}]}