{"is_source_file": true, "file_id": 28, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "b0f7e97dbbc72f7d69bf571dd63ad6d4", "format-version": 4, "code-base-name": "default", "filename": "employee_management_backend_workspace/employee_management_backend/requirements.txt", "knowledge_revision": 57}